
{% block content %}

<h2>Select a Patient Abstraction Entry to Update</h2>

<fieldset style="width: 480px";>
<legend> Pending Abstraction Entries</legend>
    <table  class="sresults">   
	<tr>  
	       <th>id</th>
           <th>ssn</th> 
           <th>dob</th> 
	       <th>admdate</th> 
           <th>dschdate</th>
           <th>abstatus</th>
           <th colspan=2>Modify</th>
	</tr>
        {% for item in patients %}
        <tr>
           <td>{{ item.id }}</td>
           <td>{{ item.ssn }}</td> 
           <td>{{ item.bthdate.date }}</td> 
           <td>{{ item.admtdate.date }}</td> 
	   <td>{{ item.dschdate.date }}</td> 
           <td>{{ item.absstatus }}</td>
           <td><a href="/abstract/{{ item.id }}">Edit</a></td>
 	</tr>
        {% endfor %}
    </>
    </table>
</fieldset>



{% endblock %}

