{% extends "oshpd_base.html" %}

{% block external %}
<script type="text/javascript"	src="/site_media/utils.js">
</script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript" src="/site_media/jquery.autocomplete.js"></script>

<link rel="stylesheet"  href="/site_media/jquery.autocomplete.css" media="screen" type="text/css" />

<style> #id_icd9codedscr {width: 300px; }
</style>

{% endblock  %}

{% block content %}

<h3> Add/Edit Diagnostic Data for patient: {{ssn}} </h3>

{% if form.non_field_errors %}
            <p>Non Field Error found</p>
            <p><span class="error">
                {{ form.non_field_errors|join:", "}}
            </p>
                <p><span class="error">
                    {% for error in form.non_field_errors %}
                        <p> Non Field error</p>
                    {{ error }}
                {% endfor %}
            </p>
    {% endif %}

{% if errors %}
        <div id="errorExplanation" >
            <h2>Validation Error(s) found:</h2>
            <ul>
            {% if form.memo.errors %}
                {% for error in form.memo.errors %}
                    <li >{{ error|escape }}</li>
                {% endfor %}
            {% endif %}

            {% if form.diagcodeicd9.errors %}
                {% for error in form.diagcodeicd9.errors %}
                    <li > {{ error|escape }}</li>
                {% endfor %}
            {% endif %}
            </ul>
       </div>
{% endif %}

<form method="post" action=""> 

<fieldset style="width:480px;">
<legend>Conditions</legend>

  <table>
    <tbody>
      <tr>
        <th><label for="id_codetype">Code Type:</label></th>
        <td><name="codetype" id="id_codetype">{{form.codetype}}</name="codetype"></td>
      </tr>
      <tr>
        <th><label for="id_codestatus">Code Status:</label></th>
        <td><name="codestatus" id="id_codestatus">{{form.codestatus}}</name="codestatus"></td>
      </tr>
      <tr>
        <th><label for="id_diagcpaa" class="cpaa">Condition Present at Admission:</label></th>
        <td><name="diagcpaa" id="id_diagcpaa" class="cpaa">{{form.diagcpaa}}</name="diagcpaa"></td>
      </tr>
   </tbody>
  </table>
</fieldset>

<fieldset style="width:480px;">
  <legend>ICD9 Codes (* => required field)</legend>
  <table >
      <tr>
        <th><label for="id_diagcodeicd9">ICD9 Code(*):</label></th>
        <td>{{form.diagcodeicd9}}</td>
        <td class="tblerr">{{form.diagcodeicd9.errors}}</td>
      </tr>
      <tr>
        <th><label for="id_icd9codedscr">ICD9 Description(*):</label></th>
        <td>{{form.icd9codedscr}}</td>
      </tr>
      <tr>
        <th><label for="id_memo">Memo(*):</label></th>
        <td>{{form.memo}}</td>
        <td class="tblerr">{{form.memo.errors}}</td>
      </tr>
    </tbody>
  </table>
</fieldset>

 <p>
  <input name="submit" value="Save Changes" type="submit">
  <input name="submit" value="Cancel" type="submit">
  </p>

</form>

{% endblock %}

