{% block content %}

{% if error %}
    <p style="color: red;" class="searcherror">Please submit a search term.</p>
        
{% else %}        
  
<fieldset>
<legend>Diagnostic Search Results</legend>
    <table class="sresults" >
	<tr>  
           <th>ssn</th>
           <th>code type</th> 
           <th>code status</th>           
           <th>code dscr</th> 
           <th colspan=2>Modify</th>
	</tr>
        {% for item in dxcodes %}
        <tr>
           <td>{{ item.ptmaster.ssn }}</td>
           <td>{{ item.codetype }}</td> 
           <td>{{ item.codestatus }}</td> 
           <td>{{ item.icd9codedscr }}</td> 
           <td><a href="/ptdtls/{{ item.id }}">Edit</a></td>
           <td><a href="/ptdtlsadd/{{ item.ptmaster.id }}">New</a></td>

 	</tr>
        {% endfor %}
    </>
    </table>
    <p/>
</fieldset>

{% endif %}


{% endblock %}
