		
{% extends "oshpd_base.html" %}

{% block content %}

<title>{% if add %} Add new {% else %}Edit selected {% endif %} patient; </title>

<form action="" method="post">

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

<fieldset>

<legend>Prescreen Data for Selected Patient </legend>
 <table border ="1" >
      <tr>
        <th><label for="id_absstatus">Abstraction Status</label></th>
        <td colspan="7">{{form.absstatus}}</td>
      </tr>
      
      <tr>
        <th><label for="id_ssn">Patient SSN:</label></th>
        <td colspan="3" id="id_ssn">{{form.ssn}}</td>     
        <th colspan="1"><label for="id_bthdate">Date Of Birth:</label></th>
        <td colspan="3">{{form.bthdate}}</td>
      </tr>
      

      <tr>
        <th><label for="id_admtdate">Admission Date:</label></th>
        <td colspan="3">{{form.admtdate}}</td>
        <th><label for="id_dschdate">Discharge Date:</label></th>
        <td colspan="3">{{form.dschdate}}</td>
      </tr>

      <tr>
        <th><label for="id_ssncrct">SSN Correct:</label></th>
        <td colspan="3">{{form.ssncrct}}</td>
        <th><label for="id_bthdatecrct">DOB Correct:</label></th>
        <td colspan="3">{{form.bthdatecrct}}</td>
      </tr>
      
      <tr>
        <th><label for="id_admsource">Admit Source:</label></th>
        <td colspan="3">{{form.admsource}}</td>
        <th><label for="id_source2">Licencing Site:</label></th>
        <td colspan="3">{{form.source2}}</td>
      </tr>
      <tr>
        <th><label for="id_hospid">Hospital ID:</label></th>
        <td colspan="3">{{form.hospid}}</td>        
        <th><label for="id_hospname">Hospital Name:</label></th>
        <td colspan="3">{{form.hospname}}</td>        
      </tr>

      <tr>
        <th><label for="id_disp">Destination on Discharge:</label></th>
        <td colspan="8" size ="50">{{form.disp}}</td>        
      </tr> 
      
      <tr>
        <td colspan="8">Documentation Source(s) - Check all applicable</label></th>
      </tr>           
                    
      <tr>
        <th><label for="id_srcpapermr" class="chkclass" >Paper MR:</label></th>
        <td>{{form.srcpapermr}}</td>        
        <th><label for="id_srcemr" class="chkclass" >Electronic MR:</label></th>
        <td>{{form.srcemr}}</td>                
        <th><label for="id_srcmicrofiche" class="chkclass" >Microfiche:</label></th>
        <td>{{form.srcmicrofiche}}</td>        
        <th><label for="id_srcscanned" class="chkclass" >Scanned:</label></th>
        <td>{{form.srcscanned}}</td>                
      </tr>
           
       <tr>
        <th><label for="id_memo">Memo:</label></th>
        <td colspan="7" class="memoclass">{{form.memo}}</td>
      </tr>     
      
 </table>
 </fieldset>
 
 <p>
<input type="submit" name = "submit" value="Save Changes" />
<input type="submit" name = "submit" value="Cancel" />
</p>
</form>

{% endblock %}


