{% extends "lg_base.html" %}
{% block title %} Developer's Toolbag {% endblock %}
{%block mainpanel %}
	<!-- YOUR DATA GOES HERE - Start -->

<h2>My Web Development Toolbag </h2>
<p>I found the following tools/utilities are helpful in creating/building/testing this website. 
	(There are lots of alternatives - these are just the ones I've been using).
	These are all Windows applications although (in some cases) equivalent Linux and OS/X versions may be available. 
Most of these are freely available for download at the links provided.
</p>
	<li><a href="http://developer.yahoo.com/yui/grids">Yahoo Grid Builder</a>
- The yahoo YUI javascript and css library is a great for creating
complex page layouts that work in all browsers. The grid builder is an
interactive tool that generates customized HTML templates with
placeholders for your content. To use you just need to add references
to the YUI library code. The pages on this site use the Yahoo YUI
library. </li>
	<p></p>
	<li><a href="http://www.aprelium.com/">Lightweight Web Server</a>
 - For localhost Web Testing this is a very lightweight Web server that supports php, asp.net, Python, Perl , ASP, and ROR. 
Comes complete with a handy web based admin interface. Available for Windows, OS/X and Linux.</li>

	<p></p>
	<li><a href="http://www.fiddlertool.com/fiddler/">HTTP Traffic Monitor/Debugging</a>
	 - As a web developer sooner or later you will need to monitor/debug your web sessions. Fiddler can be configured to work with 
	multiple browsers. There's just one gotcha - if you are testing on a local host you will need to make one small change - 
	(add a '.' character to the end of your http string). 
	<a href="http://weblogs.asp.net/lorenh/archive/2008/01/10/tip-for-using-fiddler-on-localhost.aspx">See this link for details.</a>
		</li>
	<p></p>

	<li><a href="http://www.ultraedit.com/">UltraEdit Text Editor (not free)</a>
- A very powerful text editor with excellent support. Custom syntax
highlighting for almost all languages is just one of many useful
features. You will never need another editor. Windows only but a
Linux/MAC version is reported to be on the way in 2009.
</li>
	<p></p>
		
	<li><a href="http://www.getpaint.net/">Painting Program - </a>If
you need to create graphics objects this is an excellent (and free)
replacement for the standard MS paint utility (which is very limited).
This is what I used to create the masthead for the pages on this site.
(For the curious the image depicts luddides destroying an early 19th
century textile loom.)</li>
	<p></p>

	<li><a href="http://hex-color-finder.software.informer.com/">Color Finder Utility</a>
 - This nifty utility helps find the color you want and give you the relevant RGB and Hex color values.
		</li>
	<p></p>		
	<li><a href="http://www.techsmith.com/">Snagit Screen Capture Utility</a>
- If you ever want to include screen shots (or selected screen regions)
for print or online display this is only the tool you need. It's pretty
much the industry standard (for Windows anyway). Not free, but it will
pay for itself many times over. Use it once and you'll wonder how you
got along without it.
</li>
		

{% endblock %}


