{% extends "lg_base.html" %}
{% block title %} About this site {% endblock %}
{%block mainpanel %}
	<!-- YOUR DATA GOES HERE - Start -->
<p>
</p><h2>My $0.02c or 'Free Advice is worth what you pay for it'</h2>
<p>My background is in software development and over the years I have
gotten my hands dirty with a wide variety of software tools and
technologies. Although many of these have gone the way of the dodo
bird, the lessons learned in applying these technologes to solve real
world problems are still relevant today. In many cases the underlying
problems remain the same - someone or some business entity want to
collect and/or disseminate data/information in one form or other. What
continues to evolve are the technologies and tools used to provide the
solutions. Recently I've been developing applications using Adobe Flex,
Actionscript, Python and the Google App Engine. These are relatively
new technologies that hold a lot of promise. </p>
<p>
</p><p>
I've taken a somewhat pragmatic approach to putting this site together.
It includes demonstrations and 'howto's' of some sample Web
applications that I have created. I have dissected several of these and
created smaller ('applets') that focus on some specific areas of
interest that might be applicable to other developer. You can access
these via the links in the sidebar. I hope you find some of this
useful. While developing this site I began to reflect on how technology
impacts our lives - below is my (highly opinionated) perspective. </p>	

<h2>About the name - A skeptical view of technology </h2>

<p>
	
<b>&lt;&lt; Warning - rant ahead &gt;&gt;</b> <a href="http://en.wikipedia.org/wiki/Luddite">Luddites</a>
were an early 19th social movement who distrusted technology and saw it
as a threat to their way of life - they were known to destroy automated
looms to prevent their use in the textile industry during the
industrial revolution. I'm not that extreme, but I am somewhat
skeptical about a lot of our modern technology. Whether we have been
liberated or enslaved by technology is open to much debate. How much
technology is truly useful, and do newer, more advanced technologies
really improve the quality of our lives - and at what cost? </p>	<p>
I may be in a minority, but I don't have (or need) a navigation system
in my car - well I do - it's called a map and it cost me $2.95 - much
cheaper than the electronic version and mine won't ever break down.
Neither do I need a portable electronic diary - pen and paper still
work for me and don't require batteries. I remember the days (too long
ago) when I came home from work and completely detached myself from my
job until the next day. The line between the work day and home life was
clearly delineated. Maybe those were the good old days. </p>	<p>
<i>(Pop Quiz - Do you check your email: a) Last thing at night: b)
First thing in the morning: c) Middle of the night (you have the
disease - not sure if there's a cure): d) When you get to work; e) All
of the above; f) None of the above.) (I doubt that anyone who answered
'f' will ever see this web page). </i></p>
<p> A friend of mind uses the term 'disembodied technology' to refer to
technology/gadgets etc. that have marginal real world applicability.
With the advent of cell phones, laptops and internet cafes we can all
be online, all the time. Maybe it's a generational thing, but the
luddite in me believes that our reliance/dependency on so much
technology make us somewhat dysfunctional. Can you imagine surviving
for a week or two without access to electricity and gasoline - (maybe
it's time to put some air in those bike tires just in case)?
</p><p>We now live in a world where more time is spent interacting
with inanimate objects than with real humans. People spend more time
shopping/meeting/dating online than in person. Children (and adults) in
Western society are spending more hours watching TV than their
predecessors - this does little to help with either their education or
their health. That 40" flat TV screeen on your wall may look great, but
the truth is that the content contains about 20 minutes of commercials
per hour and a lot of the content between the commercials is rubbish.
It's an old refrain - 99 channels and nothing worth watching.
</p><p>Maybe we'll all end up as hermits in (broadband connected)
caves that we never need to leave. Perhaps some of us are already do -
that's a scary thought. I suspect that there is both a luddite and a
geek lurking inside all of us - while we need, enjoy and use technology
there are times when we just want to switch it all off.</p>
<p> Many will disagree, but (IMHO) a good start would be to get rid of
cell phones in cars (my pet peeve) - let's face it - the cell phone has
not exactly made for better drivers or safer roads. Some more
enlightened countries have already imposed either full or partial bans
on car cell phone usage - <a href="http://www.cellular-news.com/car_bans/">see this link</a>. 
There's a movement called <a href="http://www.slowfood.com/">'Slow Food'</a>
that was created to combat the trend towards fast food. Maybe we need
something like this for technology - it's food for thought (pun
intended). </p><p>
Off course it's not all bad - I'd prefer to see the positive side.
There is tremendous value in having the (internet) world at our
fingertips. For example, online learning offers wonderful learning
opportunities at very low cost (often free) on a vast array of topics.
This is accessible to (almost) all - geographic boundaries and other
learning obstacles are becoming irrelevant. The impact on educational
systems worldwide is enormous and these systems will change
dramatically (for the better) in the future. Like most technology, the
internet is just a tool - it's just important to be selective in how we
use it. </p><p>
OK - I'll get off my soap box now. <b> &lt;&lt; End of rant &gt;&gt;.</b>
</p><p>
I hope you find something of value here on this site. Feel free to send me your feedback.
</p>

	<!-- YOUR DATA GOES HERE - End -->				
{% endblock %}


