<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Solutions 
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20091102

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>OSHPD Demo App</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
    <link rel="stylesheet"  href="/site_media/css/solutions/style.css"  media="screen" type="text/css"/>
    <link rel="stylesheet"  href="/site_media//css/error_style.css" media="screen" type="text/css" />   
    <link rel="stylesheet"  href="/site_media/css/forms_table_simple.css" media="screen" type="text/css" />
    <script type="text/javascript"	src="/site_media/jquery.js"></script>    
    {% block external %} {% endblock %}

</head>
<body>
	<div id="logo">
		<h1>OSHPD Data Collection - powered by  
        <a href="http://www.djangoproject.com/"><img src="/site_media/css/solutions/images/django_logo.gif"/></a></h1>
        <p><em> Converting a database from MS Access to Django/Sqllite</em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="header">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/">Summary</a></li>
				<li class="current_page_item"><a href="/prsearch">Prescreen</a></li>
                <li class="current_page_item"><a href="/abstract">Abstraction</a></li>
                <li class="current_page_item"><a href="/dxsearch">Diagnosis</a></li>
				<li><a href="/" class="first">About</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		<!-- start #search -->
		<!-- end #search -->
	</div>
	<!-- end #header -->
	<!-- end #header-wrapper -->
	<div id="page">
		<div id="content">
        {% block content %}{% endblock  %}    
        {% block main_content %}{% endblock  %}    
        {% block extra_body %}{% endblock  %}    
		</div><!-- end #content -->
		<div id="sidebar">
            {% block sidebar %}{% endblock  %}    
            <p> Add summary notes re purpose of each screen - 
            Substitute  variable block info based on screen</p>
            <p> Prescreen </p>
            <p> Abstraction</p>
            <p> Diagnosis</p>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		<p>Copyright (c) 2010 Designed by theludditegeek.com using <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
	<!-- end #footer -->
</body>
</html>
