table  {
    border: 1px; 
    border-color: blue; 
    border-style: solid;  
    padding: 2px;
    color: white;
    //border-collapse: collapse;
    //background-color: #FF0;
    //background-color: aqua;
    //background-color: #D2FFD2;
    //background-color: #618C04;
    //background-color: #618C04;
    background-color: #77B003;
    //width: 500px;

}
th, td {
    border: 1px; 
    border-color: blue; 
    border-style: none;  
    padding: 5px;    
}

.sresults  {
    border: 1px; 
    border-color: blue; 
    border-style: solid;  
    padding: 2px;
    border-collapse: collapse;
    //background-color: #D2FFD2;
    background-color: #77B003;
    color: white;

}

.sresults th {border-style: solid;
    border-color: blue; 
    padding: 5px;
    border-width: 1px;    
    }  
      
.sresults td {
    border: 1px; 
    border-color: blue; 
    border-style: solid;  
    //border-collapse: collapse;
    //border-width: 5px;
    padding: 5px;    
}

.sresults a {
    color: blue;
}

label {
    font-weight: normal;
}

input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly] 
{ 
 background-color: #dcdcdc; 
 border: #3532ff 1px solid; 
 color: #000000; 
 cursor: default; 
}

zzfieldset{ 
border: 1px black solid; 
border-radius: 5px; 
} 

fieldset{
	//background-color:#fff9e7;
	//background-color:#8A8A8A;
	background-color:#E1E1E1;

	border: 1px black solid;
    border-radius: 5px; 	
	border-width:1px;
	//border-style:solid;
	//border-color:#7c5b47;
	
	//font-family:Verdana, Arial, Helvetica, sans-serif;
		
	margin:20px 0px 20px 0px;
	//position:relative;
	//display:block;
	padding: 10px 10px 10px 10px;
}

fieldset legend {
    font-style: bold;
	font-size:20px;
    color:#77B003;
}

          
#frm_abstract {
<div id="frm_abstract">
    width=550px;
}

#tblerr {
    width= 200px;
}

// Display Error Styles Borrowed from ROR Pizza demo code<F6>Tue 04 May 2010 03:05:31 PM PDT
.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
  color: #CF0000;
}
    
